@font-face {
  font-family: 'Monocraft';
  src: url('../fonts/Monocraft.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monocraft';
  src: url('../fonts/Monocraft-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
